/**
* Eric Meyer&#39;s Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;display:block;}*{margin:0;padding:0;}html{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}table{border-collapse:collapse;border-spacing:0;}

/* FRAMEWORK */
strong, b {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
a:link {
	color: #219FDE;
	text-decoration: none;
	outline: none;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
a:visited {
	color: #219FDE;
	text-decoration: none;
}
a:hover {
	color: #585858;
	text-decoration: none;
}
a img {
	border: none;
	border-width: 0;
	outline: none;
}
abbr,acronym {
	border-bottom: 1px dotted;
	cursor: help;
}
.quickedit {
	display:none;
}
sup,sub {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
	font-size: 86%;
}
sub {
	top: .4em;
}
small {
	font-size: 86%;
}
kbd {
	font-size: 80%;
	border: 1px solid #999;
	padding: 2px 5px;
	border-bottom-width: 2px;
	border-radius: 3px;
}
mark {
	background-color: #ffce00;
	color: black;
}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl {
	margin: 1.5em 0;
}
hr {
	height: 1px;
	border: none;
	background-color: #666;
}

/* Heading */
h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-weight: bold;
	line-height: normal;
	margin: 0 0 0.8em;
	letter-spacing: -0.5px;
}
h1 {
	font-size: 200%
}
h2 {
	font-size: 180%
}
h3 {
	font-size: 160%
}
h4 {
	font-size: 140%
}
h5 {
	font-size: 120%
}
h6 {
	font-size: 100%
}

/* List */
ol,ul,dl {
	margin: .8em 0em .8em 3em;
}
ol {
	list-style: decimal outside;
}
ul {
	list-style: disc outside;
}
li {
	margin: .5em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 .5em 2em;
}

/* Form */
input,button,select,textarea {
	font: inherit;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}
textarea {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
pre,code {
	font-family: "Courier New",Courier,Monospace;
	color: inherit;
}
pre {
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
}

/* Blockquote */
blockquote {
	background: #F6F7F9;
    margin-left: 2em;
    margin-right: 2em;
    border-left: 4px solid #DDDFE2;
    padding: 1em 1em;
    font-style: italic;
}

/* Table */
table[border="1"] td, table[border="1"] th {
	vertical-align: top;
	text-align: left;
	font-size: 13px;
	padding: 3px 5px;
	border: 1px solid #ededed;
}
table[border="1"] th {
	background: #F6F7F9;
}

table, img {
	max-width: 100%;
	height: auto;
}
img, iframe {
	max-width: 100%;
}

/* BLOGGER DEFAULT CSS RESET */

.section, .widget {
	margin: 0 0 0 0;
}
.navbar, .blog-feeds, .feed-links, #backlinks-container {
	display:none;
}
.inline-ad {
	margin: 20px 0;
	background: #fff;
    padding: 20px;
}

body {
	background: #F6F7F9;
	margin: 0;
	padding: 0;
	color: #585858;
	font: normal 100% "PT Serif", Georgia, serif;
	font-size: 16px;
	text-align: center;
}
#wrapper {
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}


/* MENU NAVIGASI */

.tinynav1 {
	display: none;
	width: 100%;
	margin: 0 auto;
	border: 2px solid #ffffff;
	padding: 6px;
	background-color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	color: #585858;
}
.menu-navigasi {
	float: right;
	text-align: right;
	max-width: 700px;
	width: 70%;
	overflow: hidden
}
nav {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	position: relative;
}
nav * {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
}
nav ul {
	height: 48px;
	padding: 0 0 !important;
}
nav li {
	float: right;
	display: inline;
	padding: 0 0 !important;
}
nav li a {
	padding: 0 0;
	margin-left: 30px;
	line-height: 48px;
	color: #A2A7AB !important;
	display: block;
	text-decoration: none;
}
nav li a:hover, nav li a.active {
	color: #fff !important;
}
nav li a:active {
	color: #fff;
}


/* HEADER */

#header-wrapper {
	background: #38424B;
	text-align: left;
	padding: 26px 0;
}
#header-box {
	max-width: 1000px;
	height: auto;
	padding: 0 30px;
	margin: 0 auto;
	overflow: hidden;
}
#header {
	float: left;
	max-width: 280px;
	width: 28%;
}
#header h1.title, #header p.title {
	font-family:"Open Sans Condensed", Arial, sans-serif;
	font-weight:bold;
	letter-spacing: -0.5px;
	line-height: 1.1em;
	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 0;
	padding: 0 0 3px
}
#header h1.title a, #header p.title a {
	color: #ffffff;
}
#header .description {
	font-size: 13px;
	color: #A2A7AB;
	margin: 0;
	padding: 3px 0 0 0;
}


/* WIDGET BAWAH HEADER DAN ATAS FOOTER*/

#bawah-header, #atas-footer {
	max-width: 100%;
}

#bawah-header .widget-content, #atas-footer .widget-content {
	background: #fff;
	padding: 15px;
	overflow: hidden;
}

#bawah-header .widget {
	margin-top: 20px;
}

#atas-footer .widget {
	margin-bottom: 20px;
}


#bawah-header h2, #atas-footer h2 {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    background: #ffffff;
    color: #4C565F;
    font-size: 18px;
    padding: 20px 20px 0px;
    margin: 0 0 0 0;
}

/* KONTEN WRAPPER */

#content-wrapper {
	padding: 20px 0;
	overflow: hidden;
}	

/* KOTAK POSTING */

.kotak-posting {
	margin: 0 20px 0 0;
	padding: 0;
	word-wrap: break-word;
}
#posting {
	float: left;
	max-width: 660px;
	width: 66%
}
.breadcrumbs {
	text-align: left;
    padding: 26px;
    margin: 0 0 20px;
	font-size: 13px;
    line-height: 1.4;
    border-bottom: none;
    background: #fff;
}
.post {
	background: #ffffff;
	position: relative;
	padding: 26px;
	margin: 0 0 20px 0;
	overflow: hidden;
}
.post-box {
	margin-left: 163px;
}
.img-thumbnail {
	position: absolute;
    top: 26px;
    left: 26px;
    width: 130px;
    height: 130px;
    padding: 8px;
    border: 1px solid #F0F1F3;
}
.img-thumbnail img {
	width: 130px;
	height: 130px;
}
.post-footer {
    margin: 15px 0 0;
	padding: 14px 0 0;
	font-size: 13px;
    border-top: 1px solid #F0F1F3;
    color: #AFAFAF;
}
.item-post-footer {
	font-size: 13px;
	margin: 20px 0 0;
	padding: 15px 0 0;
	border-top: 1px solid #F0F1F3;
	color: #AFAFAF;
}
.item-post-footer abbr {
	border-bottom: none;
}
.post-body {
	line-height: 1.5;
}
h2.post-title {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	line-height: 1.3;
	margin: 0;
	padding: 0 0 15px;
	font-size: 24px
}
h1.post-title {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	line-height: 1.3;
	margin: 0;
	font-size: 28px;
	padding: 0 0 20px 
}
h2.post-title a, h1.post-title a {
	color: #4C565F;
}
h2.post-title a:hover, h1.post-title a:hover {
	color: #219FDE;
}

/* Related posts */
#related-post-desktop {
	overflow: hidden;
	margin: 15px 0;
	padding: 0
}
#related-post-desktop h3 {
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 8px;
	margin: 0;
	color: #4C565F;
}
#related-post-desktop ul {
	margin-left: 20px;
	padding: 0 0 0 10px;
}
#related-post-desktop ul li {
	padding: 0 0 8px;
}

/* Author profile box */
.author-box {
    margin-bottom: 20px;
}
.alignleft .avatar, .author-box .avatar {
    margin-right: 20px;
}
.avatar {
    float: left;
}
.author-box-title {
    font-size: 18px;
    margin-bottom: 4px;
}
.archive-description, .author-box {
    background-color: #fff;
    font-size: 16px;
    padding: 30px;
}
.archive-description, .author-box {
    font-size: 16px;
}
.content {
    font-size: 1em;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    color: #4c565f;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 15px;
        margin-bottom: 15px;
}
p {
    margin: 0 0 24px;
        margin-bottom: 24px;
    padding: 0;
}
/* Navigasi halaman */
#blog-pager {
	clear:both !important;
	overflow:hidden;
	margin:20px 0;
	text-align:center
}
#blog-pager-newer-link {
	float:left
}
#blog-pager-older-link {
	float:right
}


/* SIDEBAR */

#sidebar {
	background: transparent;
	float: right;
	max-width: 340px;
	width: 34%;
}
#sidebar h2 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	background: #ffffff;
	color: #4C565F;
	font-size: 18px;
	padding: 20px 20px 0px;
	margin: 0 0 0 0;
}
#sidebar .widget {
	margin: 0;
	clear: both
}
#sidebar .widget-content {
	background: #ffffff;
	padding: 20px;
	margin: 0 0 20px;
	overflow: hidden;
}


/* CUSTOM WIDGET STYLE */


/* Lists Widget */
.sidebar ul, .atas-footer ul, .bawah-header ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style-type: none;
}
.sidebar ul li, .atas-footer ul li, .bawah-header ul li {
	margin: 0;
	padding: 8px 0px;
	border-bottom: 1px solid #F0F1F3;
}
.sidebar ul li a, .atas-footer ul li a, .bawah-header ul li a { 
	color: #219FDE;
}
.sidebar ul li a:hover, .atas-footer ul li a:hover, .bawah-header ul li a:hover {
	color: #585858;
}


/* Widget popular posts */
.PopularPosts .item-snippet {
	color: #666;
	font-size: 12px
}
.PopularPosts .item-title {
}
.PopularPosts .item-thumbnail {
	float: right;
	margin: 0 0 0 8px;
	padding: 6px;
	border: 1px solid #F0F1F3;
	display: inline;
}
.PopularPosts .item-thumbnail a img {
	height: 48px;
	width: 48px;
	display: block;
	margin: 0;
	padding: 0;
}
.PopularPosts .widget-content ul li {
	padding: 8px 0 !important
}


/* Widget label */
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {
	font-size: 100%;
	filter: alpha(100);
	opacity: 10
}
.cloud-label-widget-content{
	text-align: left
}
.label-size {
    transition: all 0.25s;
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    background: #F6F7F9;
    display: block;
    float: left;
    margin: 0 3px 3px 0;
    color: #585858;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #F0F1F3;
}

.label-size a,.label-size span {
	display: inline-block;
	color: #585858 !important;
	padding: 8px;
	font-weight: bold;
}
.label-size:hover {
	background: #F0F1F3;
}
.label-count {
	white-space: nowrap;
	padding-right: 3px;
	margin-left: -3px;
	background: #F0F1F3;
}
.label-size {
	line-height: 1.2
}


/* Widget arsip */
.BlogArchive #ArchiveList ul li {
	padding: 3px 3px 3px 15px;
}


/* FOOTER WRAPPER */

#footer-wrapper {
	background: #38424B;
	padding: 26px 0;
}
#footer-box {
	max-width: 1000px;
	height: auto;
	padding: 0 30px;
	margin: 0 auto;
	overflow: hidden;
	color: #A2A7AB;
}

#footer-box a {
	color: #A2A7AB;
}
#footer-box a:hover {
	color: #ffffff;
}

/* Back To Top */
#back-to-top{display: inline-block;height: 60px;width: 60px;right: 30px;bottom: 30px;position: fixed;box-shadow: 0 0 10px rgba(0,0,0,0.05);overflow: hidden;text-indent: 100%;white-space: nowrap;background: rgba(25,171,234,0.9) url(//sugeng.id/blog/wp-content/themes/genesis-sample/images/to-top.svg) no-repeat center 50%;-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;}
.back-to-top{position:fixed!important;position:absolute;bottom:20px;right:20px;z-index:999}

/* SHARE BUTTON */
.social-buttons-box {
	height: 67px;
	margin: 20px 0 15px;
	overflow: hidden;
}
.social-buttons {
	margin: 0 0;
	height: 67px;
	float: left;
}
.social-buttons .share {
	float: left;
	margin-right: 10px;
	display: inline-block;
}
.share-btn {
	margin: 15px 0 25px;
	height: 20px;
	overflow: hidden;
}
.fb_iframe_widget {
	float: left;
}

/* DOWNLOAD BUTTON */
.button {
	font-family: "Open Sans Condensed", sans-serif;
	transition: all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;
	text-align: center;
	position: relative;
	vertical-align: top;
	margin: 0 3px;
	padding: 8px 12px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	text-align: center;
	background: #FFCC00;
	border: 0;
	cursor: pointer;
	outline: none;
}
.button:active {
	top: 1px;
	outline: none;
}
.button:hover {
	background: #E2B810;
}

/* KOTAK NOTE */
.note-green { 
	margin: 0.6em 0;
	padding: 16px;
	background-color: #D3F5D3;
	color: #159415;
}
.note-yellow { 
	margin: 0.6em 0;
	padding: 12px;
	background-color: #fcf8e3;
	color: #b58d47;
}
.note-red { 
	margin: 0.6em 0;
	padding: 16px;
	background-color: #FCAFAF;
	color: #C92121;
}
.mark-green { 
	background-color: #A4DDA4
}
.mark-blue { 
	background-color: #A1DAFF
}
.mark-red { 
	background-color: #FF9999
}
.mark-black { 
	background-color: #333333
}
.mark-gray { 
	background-color: #EEEEEE
}
.mark-yellow { 
	background-color: #E4E437
}



/* Template Blogger */

.post-template {
}
.post-template img {
	width: 400px;
	display: block;
}
.post-template table {
	margin: 0 0 15px 0;
}
.post-template table[border="1"] td, .post-template table[border="1"] th {
	padding: 8px 8px;
}
.download-link {
	margin: 20px 0 30px;
    text-align: center;
    padding: 20px;
    border: 1px solid #F6F7F9;
}
.hborder {
    border-bottom: 3px solid #F6F7F9;
	padding-bottom: 6px;
}

.ad-post {
	float: right;
	width: 300px;
	margin: 0 0 15px 15px;
}

/* COMMENT FORM */

#comments {
	background: #fff;
	padding: 26px;
}

.comment-form {
	overflow: hidden;
}
.comments h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1.2em;
}
h4#comment-post-message {
	display: none;
	margin: 0 0 0 0;
}

.comments {
	clear: both;
	margin-top: 10px;
	margin-bottom: 0
}
.comments .comments-content .comment-header {
	font-size: 14px;
	color: #aaa;
}
.comments .comments-content {
	margin-bottom: 8px
}
.comments .comments-content .comment-thread ol {
	text-align: left;
	margin: 13px 0;
	padding: 0
}
.comments .avatar-image-container {
	overflow: hidden;
	max-height: 50px;
	width: 50px;
}
.comments .comment-block {
	position: relative;
	margin-left: 70px;
	margin-bottom: 20px;
}
.comments .comments-content .comment-replies {
	margin: 8px 0;
	margin-left: 70px
}
.comments .comments-content .comment-thread:empty {
	display: none
}
.comments .comment-replybox-single {
	padding: 0;
	margin: 8px 0;
	margin-left: 70px
}
.comments .comment-replybox-thread {
	margin: 8px 0 0 0;
	padding: 0;
}
.comments .comments-content .comment {
	margin-bottom: 6px;
	padding: 0
}
.comments .comments-content .comment:first-child {
	padding: 0;
	margin: 0
}
.comments .comments-content .comment:last-child {
	padding: 0;
	margin: 0
}
.comments .comment-thread.inline-thread .comment, .comments .comment-thread.inline-thread .comment:last-child {
	margin: 0px 0px 5px 18%
}
.comment .comment-thread.inline-thread .comment:nth-child(6) {
	margin: 0px 0px 5px 15%;
}
.comment .comment-thread.inline-thread .comment:nth-child(5) {
	margin: 0px 0px 5px 12%;
}
.comment .comment-thread.inline-thread .comment:nth-child(4) {
	margin: 0px 0px 5px 9%;
}
.comment .comment-thread.inline-thread .comment:nth-child(3) {
	margin: 0px 0px 5px 6%;
}
.comment .comment-thread.inline-thread .comment:nth-child(2) {
	margin: 0px 0px 5px 3%;
}
.comment .comment-thread.inline-thread .comment:nth-child(1) {
	margin: 0px 0px 5px 0;
}
.comments .comments-content .comment-thread {
	margin: 0;
	padding: 0
}
.comments .comments-content .inline-thread {
	padding: 0 0;
	margin: 0
}
.thread-count {
	font-size: 14px;
}
.comments .comments-content .icon.blog-author {
	width: auto !important;
	font-family: arial, sans-serif;
	font-size: 12px;
}
.comments .comments-content .icon.blog-author:after {
	content:" Admin ";
	padding: 3px 8px;
	color: #888;
	border: 1px solid #888;
	border-radius: 4px;
}
.comments .comment .comment-actions a {
	font-family: Arial, sans-serif;
	display: inline-block;
	color: #aaa;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	margin: 0 12px 0 0;
	padding: 0 0 0 0;
}
.comments .continue a {
	font-family: Arial, sans-serif;
	color: #aaa;
	display: inline-block;
	font-size: 12px;
	padding: 0 0 0 0;
}
.comments .comments-content .loadmore {
	margin-top: 1em;
	margin-bottom: 1em;
}
.comments .comments-content .loadmore a {
	font-family: Arial, sans-serif;
	display: block;
	padding: 10px 16px;
	text-align: center;
	font-weight: bold;
	background: #FFCC00;
	border: none;
	color: #ffffff;
	border-radius: 4px;
}
.comments .comment .comment-actions a:hover, .comments .continue a:hover, .comments .comments-content .loadmore a:hover {
	text-decoration: none;
	color: #E2B810;
}
span.deleted-comment {
	font-style: italic;
	font-size: 11px;
}

.comments .avatar-image-container img {
	width: 50px;
	max-width: 50px;
}
.comments .comments-content .datetime a {
	color: #9b9b9b;
}


/* MEDIA QUERY */
@media only screen and (max-width:1070px){
	#wrapper, #header-box, #footer-box {
		padding: 0 30px;
	}
}
@media only screen and (max-width:768px){
	#wrapper, #header-box, #footer-box {
		padding: 0 20px;
	}
	#header, .menu-navigasi {
		float: none;
		max-width: 768px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	#posting, #sidebar {
		float: none;
		max-width: 768px;
		width: 100%;
	}
	.img-thumbnail {
		top: 20px;
		left: 20px;
	}
	.post, .breadcrumbs, #comments {
		padding: 20px;
	}
	.kotak-posting {
		margin: 0 0 0 0;
	}
	#content-wrapper {
		padding: 20px 0 0;
	}
	#navigation {
		display: none;
	}
	.menu-navigasi {
		max-width: 768px;
		width: 100%;
		margin-top: 15px;
	}
	.tinynav1 {
		display: block;
	}
}

@media only screen and (max-width:640px){
	#wrapper, #header-box, #footer-box {
		padding: 0 18px;
	}
	#footer-wrapper .footer-kiri, #footer-wrapper .footer-kanan {
		float: none;
		text-align: center;
	}
	#header-wrapper, #footer-wrapper {
		padding: 18px 0;
	}
	.post, #sidebar .widget-content, .breadcrumbs, #comments, .inline-ad {
		padding: 18px;
	}
	.img-thumbnail {
		top: 18px;
		left: 18px;
	}
	.img-thumbnail, .img-thumbnail img {
		width: 100px;
		height: 100px;
	}
	.post-box {
		margin-left: 133px;
	}
	#sidebar h2, #bawah-header h2, #atas-footer h2 {
		padding: 18px 18px 0px;
	}
	#bawah-header .widget {
		margin-top: 18px;
	}
	#sidebar .widget-content, #atas-footer .widget, .post, .breadcrumbs  {
		margin-bottom: 18px;
	}
	#content-wrapper {
		padding: 18px 0 0;
	}
	.kotak-posting {
		margin: 0 0 0 0;
	}
	.ad-post {
		float: none;
		margin: 0 auto 18px;
	}
}

@media only screen and (max-width:480px){
	#wrapper, #header-box, #footer-box {
		padding: 0 14px;
	}
	#footer-wrapper .footer-kiri, #footer-wrapper .footer-kanan {
		float: none;
		text-align: center;
	}
	#header-wrapper, #footer-wrapper {
		padding: 14px 0;
	}
	.post, #sidebar .widget-content, .breadcrumbs, #comments, .inline-ad {
		padding: 14px;
	}
	.img-thumbnail {
		top: 14px;
		left: 14px;
	}
	.img-thumbnail, .img-thumbnail img {
		width: 260px;
		height: 80px;
	}
	.post-box {
		margin-top: 110px;
		margin-left: 0;
	}
	#sidebar h2, #bawah-header h2, #atas-footer h2 {
		padding: 14px 14px 0px;
	}
	#bawah-header .widget {
		margin-top: 14px;
	}
	#sidebar .widget-content, #atas-footer .widget, .post, .breadcrumbs {
		margin-bottom: 14px;
	}
	#content-wrapper {
		padding: 14px 0 0;
	}
	.kotak-posting {
		margin: 0 0 0 0;
	}
}

@media screen and (max-width:320px){
	#wrapper, #header-box, #footer-box {
		padding: 0 8px;
	}
	#header-wrapper, #footer-wrapper {
		padding: 10px 0;
	}
	.post, #sidebar .widget-content, .breadcrumbs, #comments, .inline-ad {
		padding: 10px;
	}
	.img-thumbnail {
		top: 10px;
		left: 10px;
	}
	#sidebar h2, #bawah-header h2, #atas-footer h2 {
		padding: 10px 10px 0px;
	}
	#bawah-header .widget {
		margin-top: 10px;
	}
	#sidebar .widget-content, #atas-footer .widget, .post, .breadcrumbs {
		margin-bottom: 10px;
	}
	#content-wrapper {
		padding: 10px 0 0;
	}
	.kotak-posting {
		margin: 0 0 0 0;
	}
}
